@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.form-control{
  border: 1px solid #110e0e;
}
.primary-btn{
  background-color: #7f0606;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
} 
.contact-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 5px;
}

.Homepage{
  margin: 40px;
}
